<div>
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title> Philips Hue </mat-card-title>
      <mat-card-subtitle>Light control</mat-card-subtitle>
      <div mat-card-avatar class="example-header-image"></div>
    </mat-card-header>
    <mat-card-content>
      <mat-list>

        <mat-list-item>
          <li *ngFor='let control of form.get("checkboxes").controls; let i = index'>
            <mat-checkbox [formControl]="control"></mat-checkbox>
            <span>Light {{i+1}}</span>
          </li>
          <mat-divider></mat-divider>
        </mat-list-item>
        <h3>Basic control</h3>
        <mat-list-item>
          <button mat-button (click)="turnHueOn()">Turn on</button>
          <button mat-button (click)="turnHueOff()">Turn off</button>
          <mat-slider (change)="hueSliderChanged($event)" ></mat-slider>
        </mat-list-item>
        <mat-divider></mat-divider>
        <h3>Actions</h3>
        <mat-list-item>
          <li *ngFor='let action of actions'>
            <button mat-button (click)="actionHue(action)">{{action}}</button>
          </li>
          <mat-divider></mat-divider>
        </mat-list-item>
        <h3>Presets</h3>
        <mat-list-item>
          <li *ngFor='let preset of presets'>
            <button mat-button (click)="presetHue(preset)">{{preset}}</button>
          </li>
          <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item>
          <br/>
          <br/>
          <span>
            {{statusMessage}}
          </span>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>